@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

:root{
    --primary-color: #fe5b3e;
    --text-dark: #0f172a;
    --text-light: #475569;
    --extra-light: #f2f2f2;
    --white: #fff;
    --max-width: 1200px;
    --gradient: linear-gradient(to bottom, #fe5c3c, #fc8023);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}