@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');
 /* + reset and utility style */
:root{
    --primary-color: #fe5b3e;
    --text-dark: #0f172a;
    --text-light: #475569;
    --extra-light: #f2f2f2;
    --white: #fff;
    --max-width: 1200px;
    --gradient: linear-gradient(to bottom, #fe5c3c, #fc8023);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__subheader{
    margin-bottom: 5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--extra-light);
    letter-spacing: 1px;
}

.section__header{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text-dark);
}

.btn{
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: #474fa0;
    white-space: nowrap;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}
.btn:hover{
    background-color: #3c4286;
}

img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    transition: .3s;
}

ul{
    list-style: none;
}

html,
body{
    scroll-behavior: smooth;
}

body{
    font-family: 'Mulish';
}
 /* / reset and utility style */

 /* + header section */
 header{
    position: relative;
 }
header::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.1));
    z-index: -1;
}

/* + nav bar and nav menu */
nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}
.nav__header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.nav__logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.nav__menu__btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav__links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    transform: translateY(-150%);
}
.nav__links.open{
    transform: translateY(0);
}

.nav__links a{
    font-weight: 700;
    color: var(--white);
}

.nav__links .btn{
    padding: 0;
    background-color: transparent;
}

.nav__btns{
    display: none;
}

@media (width > 768px){
    header::before{
        height: calc(100% - 4rem);
    }
    nav{
        position: static;
        padding-block: 2rem;
        padding-inline: 1rem;
        min-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    .nav__header{
        flex: 1;
        padding: 0;
        background-color: transparent;
    }
    .nav__logo a{
        font-weight: 800;
        color: var(--text-dark);
    }
    .nav__menu__btn{
        display: none;
    }

    .nav__links{
        position: static;
        padding: 0;
        width: fit-content;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }
    .nav__links a{
        padding-block: 5px;
        color: var(--text-dark);
        border-bottom: 2px solid transparent;
    }
    .nav__links a:hover{
        border-color: var(--primary-color);
    }

    .nav__links__btn{
        display: none;
    }
    .nav__btns{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }

    .nav__btns .btn__primary{
        color: var(--text-dark);
        background-color: transparent;
    }
}
/* / nav bar and nav menu */

/* / header section */